{namespace Templates.<%= capitalizeName %>}

/**
 * This renders the main element.
 * @param? elementClasses
 * @param id
 * @skipUpdates elementClasses
 */
{template .content}
	<div id="{$id}" class="<%= lowercaseName %> component{$elementClasses ? ' ' + $elementClasses : ''}">
	</div>
{/template}
