{namespace <%= capitalizeName %>}

/**
 * This renders the main element.
 * @param? elementClasses
 */
{template .render}
	<div class="<%= lowercaseName %>{$elementClasses ? ' ' + $elementClasses : ''}">
		Hello World
	</div>
{/template}
