{namespace <%= capitalizeName %>}

/**
 * This renders the main element.
 * @param? id
 * @param? elementClasses
 */
{template .render}
	<div id="{$id}" class="<%= lowercaseName %>{$elementClasses ? ' ' + $elementClasses : ''}">
	</div>
{/template}
