<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Demo: <%= capitalizeName %></title>

	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../build/<%= kebabCaseName %>.css">

	<script src="../node_modules/requirejs/require.js"></script>
</head>
<body>
	<h1><%= capitalizeName %></h1>

	<script type="text/javascript">
		requirejs.config({
			baseUrl: '../../build/amd'
		});
		requirejs(['../../build/amd/<%= repoName %>/src/<%= capCaseName %>'], function(<%= capCaseName %>) {
			new <%= capCaseName %>.default();
		});
	</script>
</body>
</html>
